<!DOCTYPE html>
<html>
    <head>


        {% block stylesheets %}{% endblock %}

<a <span style="font-size:5px;"></span><img src="https://www.lunenburg.nu/cms/images/logo-lunenburg.png" alt:"Lunenburg" height="62" width="180"</a>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #cd1626;
}

.topnav a {
  float: left;
  color: #cc0000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #333;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

</style>
</head>
<tbody>

<div class="topnav">


  <td><a href="http://localhost/Programmeren2/web/app_dev.php/"><span style="color:#FFFFFF;"><span style="font-size:20px;">home</span></span></a></td>
<td><a href="http://localhost/Programmeren2/web/app_dev.php/alle/klanten"><span style="color:#FFFFFF;"><span style="font-size:20px;">klanten</span></span></a></td>
<td><a href="http://localhost/Programmeren2/web/app_dev.php/klant/nieuw"><span style="color:#FFFFFF;"><span style="font-size:20px;">klanten toevoegen</span></span></a></td>

<td><a href="http://localhost/Programmeren2/web/app_dev.php/alle/producten"><span style="color:#FFFFFF;"><span style="font-size:20px;">Artikelen</span></span></a></td>
<td><a href="http://localhost/Programmeren2/web/app_dev.php/product/nieuw"><span style="color:#FFFFFF;"><span style="font-size:20px;">Artikelen toevoegen</span></span></a></td>
<td><a href="http://localhost/Programmeren2/web/app_dev.php/goederen/ontvangst"><span style="color:#FFFFFF;"><span style="font-size:20px;">Goederenontvangst</span></span></a></td>
<td><a href="http://localhost/Programmeren2/web/app_dev.php/bestelopdracht/nieuw"><span style="color:#FFFFFF;"><span style="font-size:20px;">bestelopdrachten</span></span></a></td>
<td><a href="http://localhost/Programmeren2/web/app_dev.php/alle/goederen"><span style="color:#FFFFFF;"><span style="font-size:20px;">ontvangen goederen</span></span></a></td>






        </tbody>
        </table>

        </div>
        </div>


        </div>
        </div>
        </div>
        </div>

    </head>
    <body>
        {% block body %} {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
